[user]
	name = Simon Baird
	email = simon.baird@gmail.com

[color]
	branch = auto
	status = auto
	diff = auto

[push]
	default = tracking

[core]
	editor = vim
	excludesfile = ~/.gitignore-global

	# -E means less doesn't page if file smaller than one screen
	# -F means less quits at end of file
	# -r something to do with ansi colours, it fixes the %C(yellow)%+d coloring somehow
	pager = less -E -F -r

[alias]
	# The only way to do it...
	ap = add --patch

	# Shortcuts
	#s = status -sb
	#st = status -sb
	s = status
	st = status
	c = checkout
	a = add
	b = branch
	d = diff
	ds = diff --staged
	sd = diff --staged
	ca = commit --amend --no-edit
	amend = commit --amend
	ff = merge --ff-only

	wdiff = diff --color-words
	wd = diff --color-words
	swd = diff --staged --color-words

	newbranch = checkout -b
	nb = checkout -b

	newtrack = branch --track
	nt = branch --track

	# Previous branch
	prev = checkout @{-1}

	resetfile = checkout

	# when you just pushed to gerrit
	rod = reset --hard origin/develop

	# Fetch change set (from gerrit) and check it out in a suitably named branch
	# $1 is the gerrit, eg 'refs/changes/99/24999/2'
	# $2 is an optional branch name suffix
	fcs = "!f() { [ -n \"$1\" ] && git fetch origin $1 && git checkout -b $( echo gerrit/$1-$2 | cut -d/ -f1,5,6 | sed 's/\\//-/g' | sed 's/\\-$//' ) FETCH_HEAD; }; f"

	ld = log -p

	# https://gist.github.com/1501998
	ph = log --graph --pretty=pretty-history --abbrev-commit --date=relative
	ph2 = log --graph --pretty=nice --abbrev-commit --date=relative
	lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
	lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit

	# Nice list of branches by age (newest at bottom)
	bb = "for-each-ref --sort=committerdate --format='%1B[36m%(committerdate:relative) %1B[33m%(refname:short)%1B[0;m' refs/heads/"

	# Keep your branches organised
	branch-name = rev-parse --abbrev-ref HEAD
	branch-basename = "!git branch-name | rev | cut -d '/' -f 1 | rev"
	mv-branch = "!f() { git branch -m $1/`git branch-basename`; }; f"

	#lll = log --pretty=nice
	lll = "log --pretty='format:%Cblue%h %C(cyan)%cr %Cgreen%an%Creset %s%C(yellow)%d %C(black)%cn%Creset'"
	ll = "!git lll -n 25"

	rbs = rebase -i --autosquash
	rba = rebase --abort
	rbc = rebase --continue

	email-rh = "config user.email sbaird@redhat.com"
	email-sb = "config user.email simon.baird@gmail.com"
	email = "config user.email"

[pretty]
	nice = format:%Cblue%h %C(cyan)%cr %Cgreen%an%Creset %s%C(yellow)%d %C(black)%cn%Creset
	pretty-history = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[color "diff"]
	# Makes git log -p easier to read
	commit = yellow reverse

[diff]
	algorithm = patience
